body {
  font-family: Verdana, sans-serif;
}
.container {
  margin: auto;
  padding: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead tr{
  border-bottom: 1px solid black;
}
th div{
  width: 90%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

button {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
